<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" >
    <display-name>My Web Application</display-name>
   <servlet>
       <servlet-name>mymvc</servlet-name>
       <!--<servlet-class>com.mvcframework.v1.servlet.MyDispatcherServlet</servlet-class>-->
       <!--<servlet-class>com.mvcframework.v2.servlet.MyDispatcherServlet</servlet-class>-->
       <servlet-class>com.mvcframework.v3.servlet.MyDispatcherServlet</servlet-class>
       <init-param>
           <param-name>contextConfigLocation</param-name>
           <!--为了简化，这里用properties文件代替xml文件-->
           <param-value>application.properties</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
   </servlet>
    <servlet-mapping>
        <servlet-name>mymvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>